<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side" [(opened)]="view">
      <app-menu (view)="viewChange($event)"></app-menu>
    </mat-drawer>
  <div  class="sidenav-content">
    <router-outlet  class="router"></router-outlet>
    <div class="button-layer">
      <button mat-icon-button class="menu-btn" type="button"  (click)="drawer.toggle()" (click)="opened = !opened">
        Menu <mat-icon>{{opened?'close':'menu'}}</mat-icon>
      </button>
    </div>
  </div>
</mat-drawer-container>
