
   
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Montserrat:ital,wght@0,500;1,900&display=swap');
.main{
    width: 100vw;
    height: auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    p{
        padding:2%;
        text-align: center;
    }
}
.title{
  font-family: 'Julis Sans One', sans-serif; 
  color: white; 
  letter-spacing: 3px;
  margin-bottom: 0;
  padding : 0  2% 0 0 !important;
}
.text{
  margin-top: 0;
  font-family: 'Julis Sans One', sans-serif;
  color:white;
  font-size:small;
  padding : 0 2% 0 0  !important;
}
.Profile{
  background-image: url("../../assets/Pictures/Camila.jpg");
  background-size: cover;
  top: 10px;
  left: 5px;
  position: absolute;
  z-index: 7;
  border-radius: 50%;
  height: 20vh;
  width: 20vh;
}
.banner{
  top: 30px;
  position: absolute;
  height: 15vh;
  width: 100%;
  background: rgb(235,178,161);
  background: linear-gradient(90deg, rgba(235,178,161,1) 25%, rgba(212,162,145,1) 100%);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding : 0  !important;
}
.bio{
  padding-top: 25vh !important;
}
.block{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
}
.blockimg{
  max-width: 70%;
  height: auto;
  margin-bottom: 15px;
  margin-right: 10px;
  border: solid #BDBDBD 1px; 
	box-shadow: -14px 12px 1px rgba(205, 151, 135, 0.5)  ; 
	-webkit-box-shadow: -14px 12px 1px rgba(205, 151, 135, 0.5)  ; 
	-moz-box-shadow: -14px 12px 1px rgba(205, 151, 135, 0.5)  ; 
}
.blockimgl{
  max-width: 70%;
  height: auto;
  margin-bottom: 15px;
  margin-left: 10px;
	border: solid #BDBDBD 1px; 
	box-shadow: 15px 12px 0 linear-gradient(90deg, rgba(235,178,161,1) 25%, rgba(212,162,145,1) 100%) ; 
	-webkit-box-shadow: 15px 12px 0 rgba(205, 151, 135, 0.5)  ; 
	-moz-box-shadow: 15px 12px 0 rgba(205, 151, 135, 0.5)  ; 
}